global:
  scrape_interval: 15s # Default scrape interval

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'vllm'
    static_configs:
      - targets: ['81qc5shc9rnx0g-8000.proxy.runpod.net']  # vLLM сервер
    metrics_path: /metrics

  # niwhghj0uprhbf-8000.proxy.runpod.net - старый сервер
  # 2z24p8xymur389-8000.proxy.runpod.net - сервер RTX 6000 Ada (22.12.2025)
  # dz8dipknvfslzw-8000.proxy.runpod.net - сервер 2x RTX A 5000
  
  # - job_name: 'example_api'
  #   scheme: http
  #   static_configs:
  #     - targets: ['example_api:9091']

  #  ? TODO: add your services here
  # - job_name: 'your-job-name'
  #   scheme: https
  #   static_configs:
  #     - targets: ['URL_GOES_HERE']
  #   basic_auth:
  #     username: HTTP_AUTH_USERNAME_GOES_HERE
  #     password: HTTP_AUTH_PASSWORD_GOES_HERE
